@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Ubuntu';
		src: url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap)
			format('swap');
	}
	@font-face {
		font-family: 'Ubuntu Mono';
		src: url(https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap)
			format('swap');
	}
	html,
	body {
		@apply bg-gray-50 text-gray-800;
		@apply font-ubuntu;
		/* @apply font-ubuntuMono; */
	}
	h1 {
		@apply text-4xl leading-10 mt-7;
		@apply text-teal-800;
	}
	h2 {
		@apply text-3xl leading-10 mt-7;
		@apply before:content-['#'] before:-ml-5 before:mr-2 before:text-gray-400;
	}
	h3 {
		@apply text-xl leading-7 mt-3;
	}
	p {
		@apply mt-5;
	}
	a {
		@apply hover:text-teal-600 active:text-teal-600;
	}
}

/*
.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
*/
