@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Ubuntu';
		src: url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap)
			format('swap');
	}
	@font-face {
		font-family: 'Ubuntu Mono';
		src: url(https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap)
			format('swap');
	}
	html,
	body {
		@apply bg-gray-50 text-gray-800;
		@apply font-ubuntu;
	}
	h1 {
		@apply text-4xl leading-10 mt-7;
		@apply text-violet-900;
	}
	h2 {
		@apply text-3xl leading-10 mt-7;
		@apply before:content-['#'] before:-ml-5 before:mr-2 before:text-gray-400;
	}
	h3 {
		@apply text-xl leading-7 mt-3;
	}
	h4 {
		@apply text-lg leading-5 mt-2 font-bold;
	}
	h5 {
		@apply text-lg leading-5 mt-2;
	}
	p {
		@apply mt-5;
	}
	a {
		@apply hover:text-violet-600 active:text-violet-600;
	}
	::-moz-selection { /* Code for Firefox */
		color: #009900;
		background: #bbffbb;
	}
	::selection {
		color: #009900;
		background: #bbffbb;
	}
}
